.message-container {
  display: flex;
  width: 80vw;
  height: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  column-gap: 5px;
  border: 1.5px solid black;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: aqua;
}

.check-button-title-container {
  width: 400px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}

.checkbox-container {
  width: 20px;
  height: 20px;
}

.checkbox-container input[type="checkbox"] {
  width: 100%;
  height: 100%;
}

.button-container {
  width: 70px;
  height: 20px;
}

.button-container button {
  width: 100%;
}

.title-container {
  width: 100px;
  height: 20px;
  text-align: left;
}

.body-container {
  width: 650px;
  height: 20px;
}

.message-container:hover {
  box-shadow: 0 0 5px rgb(71, 64, 64);
}

.check-message {
  background-color: grey;
}

.favorite-button {
  color: white;
  background-color: gold;
}
